body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
}

.main-header {
  background-color: #092044;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 2rem;
}

.header-links {
  font-family: 'Source Sans Pro', sans-serif;
  width: 50%;
  justify-self: flex-end;
}

.link-container {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.link-container a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

#artists {
  position: relative;
  background-color: #F9AB21;
  transition: all 2s ease-in;
}

#for-artists {
  background-color: #F9AB21;
  padding: 6px 27px;
}

.dropdown-list {
  position: absolute;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

#artists:hover {
  transition: all 2s ease-in;
}

.dropdown-list a {
  background-color: #F9AB21;
  padding: 6px 27px;
  margin-bottom: 2px;
}

.dropdown-list a:hover {
  background-color: #092044;
  color: white;
}

#hide {
  display: none;
}

#show {
  display: flex;
}


/* Search */

.search {
  width: 40%;
  position: relative;
  margin: 1.5rem auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.search-input {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;

  width: 100%;
  height: 8vh;
  border: 2px solid #000000;
  border-radius: 30px;
}

#search-icon {
  position: absolute;
  left: 3%;
}

::-webkit-input-placeholder {
  font-size: 18px;

  color: #B1B1B1;
  padding-left: 10%;
}

:-ms-input-placeholder {
  font-size: 18px;

  color: #B1B1B1;
  padding-left: 10%;
}

::placeholder {
  font-size: 18px;

  color: #B1B1B1;
  padding-left: 10%;
}